#zmodyfikowano{
	font-size:1cm;
	color:red;
	font-style: arial;
}
#czas{
	font-size:1.5cm;
	color:green;
	font-style:calibri;
}
#data{
	font-size:2cm;
	color:blue;
	 font-family: "Times New Roman";
}
