A
{
font-size: 18pt;
text-decoration: none;
}
A:link
{
color: blue;
}
A:visited
{
color: green;
}
A:hover
{
color: red;
text-decoration: underline;
}
.Dane{
	color:red;
	font-size:2cm;
}
/*text-decoration: none; - Tekst bez żadnego rodzaju dodatków(np. podkreślenie czy pogrubienie)
* text-decoration: underline; Tekst z dodanym podkreśleniem
* Norbert Kulik*/
